body {
  font-size: 12px;
  line-height: 18px;
  
  @media (min-width: 760px) and (max-width: 979px) {
    font-size: 16px;
    line-height: 24px;
  }
  
  @media (min-width: 980px) and (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
  }
  
  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 30px;
  }
}

h1, h2, h3 {
  margin: 0;
  font-family: HattoriHanzoLight;
  font-weight: normal;
  color: $blueBreton;
  line-height: $baseLineHeight;
  font-size: $baseFontSize;
}

h1 {
    // font-size: $baseFontSize * 2; // - 24px
    font-size: 2em;
}

h2 {
   // font-size: $baseFontSize * 1.666666667; // - 20px
   font-size: 1.666666667em;
    line-height: 1.2em;
}

h3 {
  display: inline;
}

blockquote {
  border: none;
  // font-size: $baseFontSize*4; // -48px
  font-size: 4em;
  line-height: 0.65em;
  text-align: center;
  color: $grayCharcoal;
  font-family: lane-narrowregular;
  padding: 0;
  margin-bottom: 1em;
  
  span {
    display: block;
  }
  
  .alt-font {
    font-size: 1.25em;
    color: $blueFrench;
    font-family: walkway_boldregular;
  }
}

cite {
  display: block;
  text-align: center;
  font-family: $sansFontFamily;
  font-size: 1em;
  color: lighten($blueBreton, 25%);
  text-shadow: 1px 1px 1px white;
}

p, address {
 // font-size: $baseFontSize * 1.333333333; // 16px
  font-size: 1.333333333em;
  line-height: 1.6875em;
  font-family: HattoriHanzoLight;
}

small {
  font-style: italic;
  padding-left: 0.5em;
}


.page-header {
  padding: 0;
  border-color: $grayCadet;
  text-align: right;
  margin: 18px 0 48px;
}

#about h2, #about p {
  color: $grayCadet;
}

#intro .page-header {
  border: none;
}

.more-link {
  float: right;
  clear: both;
  font-style: italic;
  color: $blueBreton;
 
  &:hover, &:active, &:visited {
              text-decoration: none;
              color: $blueFrench;
            }
}

address {
color: darken($whiteSmoke, 60%);

    b {
            color: $grayCharcoal;
    }

    a, a:link, a:visited {
        display: block;
        color: $whiteSmoke;

        &:hover, &:active {
            color: $grayCharcoal;
            text-decoration: none;
        }   
      }
}
